[2017-09-12 14:31] yeedle opened #6 "Once a place is selected, can the search text be replaced by the selected place?"
In @olefirenko's version, once a place is selected from the dropdown, the text in the search bar changes to the selected place. However, in this version, even after a place is selected, when the search bar is clicked, the original search text is still there. Is it possible to change this behavior?

[2017-09-12 21:48] #6 closed

[2017-09-12 21:57] MadimetjaShika commented on #6
Hi @yeedle! Thanks for pointing this out. The autocomplete text was only being emitted and not actually being updated on the component, but I noticed a recent update was made to the original fork to resolve this, so I just pulled those changes in. All should be good now.

Cheers!

[2017-09-12 21:58] yeedle commented on #6
Thanks! Awesome work!

[2017-09-16 13:53] mhsystem opened #8 "problem"
Hello, do you have any idea, why it is not work under webpackbin.com? or can you create example?
I have error:
Error: Module parse failed: /root/webpack-packager/packages/2790353294/node_modules/vuetify-google-autocomplete/src/VuetifyGoogleAutocomplete.vue Unexpected token (1:0) You may need an appropriate loader to handle this file type. | <template> | <v-text-field | hide-details

[2017-09-16 18:54] MadimetjaShika commented on #8
Hi there. Hmm, this is a slightly odd issue. I've tried to create a quick webpackbin project and I seem to be getting the same result. Not exactly sure what the problem might be, will try looking slightly deeper into this and let you know.

[2017-10-24 23:14] jesswa opened #9 "enhancement suggestion: separate label from placeholder"
I think it would be could to have two separate props for label and placeholder as it is in vuetify v-text-field, instead of having one merged into both, so that we can benefit from the animation that pushes a minimized label on top of the input field, if you see what I mean.

It would help to have a more consistent presentation when one integrate this component in a list of other v-text-fields.

t

[2017-10-25 09:45] MadimetjaShika commented on #9
Hi @jesswa. Thanks for your suggestion, it does make sense and I'm happy with it. I should get a chance to make this change for you within the week, however if you'd like it sooner you're welcome to make a PR for the change and i'll merge it in.

[2017-10-25 22:52] jess8bit commented on #9
thanks for considering this proposal!
no rush :)

[2017-10-28 13:05] #9 closed

[2017-10-28 13:11] MadimetjaShika commented on #9
@jesswa the enhancement has been merged and published to npm on v1.1.0. This updates the component to match vuetify text fields as at v.0.16.9.

Thanks again!

[2017-10-28 17:50] jess8bit commented on #9
awesome! just tested, thank you!

[2017-11-01 16:48] dmoganty commented on #8
seems it will give only address

[2017-11-05 17:14] skwigs opened #11 "How to use with vuetify Simple HTML template?"
I'm working on an app that will be embedded in an existing website. Since I'm not using webpack, I keep running into 'unexpected token import/export' errors - no matter how I split the code up or try to import it to my app.

Any thoughts on an html/non-npm setup? What needs to go where?

[2017-11-08 08:58] MadimetjaShika commented on #11
Hi there! Sorry I saw your post a while back, just haven't had a chance to look into it yet. I should get a chance to look into it before Friday, will get back to you soon.

[2017-11-18 20:23] MadimetjaShika commented on #11
Hi there @skwigs, sorry i've taken so long to get to this. Could you please provide me with a code sample of your current setup?

[2017-11-25 15:44] rolandszpond opened #12 "Feature Request: setting default value"
Passing a prop down to set the initial value on the input. Oddly, it's not listed in the API documentation for the component, but it's used within the examples.

[2017-11-25 22:02] dfeinberg5 opened #13 "Can't change Types"
The `types` prop doesn't seem to work.

The default address works fine, but when you change it to anything else the autocomplete stops working with no errors.

[2017-12-12 20:06] iec989 opened #14 "Refresh the country filter"
I have the country attribute pointing to my model: `:country="form.step1.contact.country.toLowerCase()"`

`form.step1.contact.country.toLowerCase()` change the value based on a dropdown.

Based in the Vue debugger, `form.step1.contact.country.toLowerCase()` value is correct, for instance 'es' - however the filter seems to be working only on load time, no if you modify it afterwards.

Any ideas?

[2017-12-14 05:18] MadimetjaShika commented on #14
Hi there, thanks for reporting that. I haven't been able to make updates on this library as yet, but hopefully I can get to all the issues and improvements this coming weekend. You're welcome to submit a PR for the fix if you need the fix urgently.

[2017-12-14 05:20] MadimetjaShika commented on #13
Hi there, thanks for reporting this. I'll look into it this coming weekend. You're welcome to submit a PR if you need the fix urgently.

[2017-12-14 05:26] MadimetjaShika commented on #12
Hi @rolandszpond. Thanks for noting that. I'll look into it this coming weekend. Ideally i'd like to rewrite this library as most of it was written on top of forked code. I noticed several "issues" that prevent/disturb reactivity with the way it is currently written. I'll let you know as soon as it is sorted.

[2017-12-15 18:50] monsdroid opened #15 "Async loading your component and gmaps sdk"
Hi, because i do not need your component on the whole application im unable to include google maps in the head.
if you take a look at the vue-gmaps component your can provide a api key  for the component and forget about the script loading.
but if anyone wants to use your component anyway its possible like this

[code]

[2017-12-17 21:06] MadimetjaShika commented on #15
Hi @monsdroid, i've published a pre-release ``vuetify-google-autocomplete@2.0.0-alpha.1.``. This should resolve the issue you noted. Please check it out and let me know.

PS: You can now pass the ``api key`` as prop to the component instead of having to import the script in the head of your html, i.e. you can

[code]

I'm going to close the issue in the meantime. Feel free to re-open if not resolv

[2017-12-17 21:06] #15 closed

[2017-12-17 21:10] MadimetjaShika commented on #14
Hi @iec989. I've published a pre-release ``vuetify-google-autocomplete@2.0.0-alpha.1``. This should resolve the issue you noted. The problem was that the prop was not being watched for changes and the Google Place SDK was therefore not being updated. Please check it out and let me know if all good.

I'm going to close this issue in the meantime. Feel free to re-open if not resolved.

[2017-12-17 21:10] #14 closed

[2017-12-17 21:19] MadimetjaShika commented on #13
Hi @dfeinberg5. I've published a pre-release ``vuetify-google-autocomplete@2.0.0-alpha.1``. This should resolve the issue you noted. I noticed two problems with this;
* The 'city' and 'region' types weren't working on the example, and this was because of a typo. The SDK expects an array for all the types.
* The prop was not reactive, and therefore the SDK would not get updated with the changed. Th

[2017-12-17 21:19] #13 closed

[2017-12-18 09:21] iec989 commented on #14
Hi @MadimetjaShika

It is working as soon as `form.step1.contact.country` got a default value - initially, the value I set is `''`, what throws an error.

If you don't give a default value your `componentRestrictions` es _undefined_ and therfore it will always throw a Javascript error saying that it's not possible to set the country:
![image](https://user-images.githubusercontent.com/11177560/3409

[2017-12-18 12:28] iec989 opened #16 "Api key requested as prop in the aplha version"
I would like to know what's the best approach to pass the API key only once? Right now every time I'm invoking the component I'm passing the API key prop. This gives an error if you try to have more than one input.

I did the below to make it work, but I don't think that's what is intended with your code:
`VuetifyGoogleAutocomplete.props.googleApiKey = {type: String, default: 'myapikey'};
Vue.comp

[2018-01-09 10:05] benjaminpwarren opened #17 "hideDetails Prop has wrong default value (should be false)"
The `hideDetails` prop in the component is currently set to a default of `true` whereas the Vuetify standard <v-text-field> has a default of `false`.

I had to hunt down why my error message (triggered via the `:rules` prop) wasn't showing, and it was this prop.

[2018-02-07 16:39] darior87 opened #18 "unexpected token import"
Hi.

When I try to use this cool component into my vue/nuxt project, strange things happen. Here's my error

[code]

My project.json dependencies looks like follows

[code]
I tried to use the component globally and related to a page. same error.

tried also a new version of vue (older), but same errors.

If I try to move from a page to the page in which I imported the component, I can see and use

[2018-02-07 17:19] darior87 commented on #18
actually is not related to this component.

in nuxt.config.js add this in the build/extend
[code]

[2018-02-07 17:19] #18 closed

[2018-02-07 18:58] MadimetjaShika commented on #18
Hi @darior87, thanks for pointing that out. Happy you managed to solve it.

So yes, just to add on to your solution (and help someone understand the error in future), that error would typically appear because of two things (as far as I have seen):

1. The consumer can't parse the ``.vue`` file being exported by the library, or

2. The consumer can't parse **ES6**, which the module is written in.

[2018-02-17 04:03] jess8bit opened #19 "How to repopulate the input field when loading the form"
Hello,
I use this Vue component in a create/edit form (using Vuetify v1.0.1).
In "edit" mode, when display the form, I would like to be able to repopulate the input field with any string (typically what the user entered last time but that is just a example).
The input value is handled by the autocompleteText data of the component, but how can I set a value to this field, programmatically, for exam

[2018-02-19 13:54] iec989 commented on #16
@MadimetjaShika

Any update on this?

Thanks

[2018-02-19 18:40] MadimetjaShika commented on #16
Hi,

Sorry I haven't had a chance to _properly_ resolve this issue. I have however looked at it briefly. I'll make some time to resolve it before the end of the week.

I think a solution could be to pass the key only once, however subsequent asynchronous usages of the component will complain that the Google API has not been initialised. I'm somewhat tempted to make the API key optional, and in the

[2018-02-20 15:04] mwargan opened #20 "prepend-icon not working"
Hey! I'm not able to use prepend-icon. Changing prepend to append works as expected, and the icon is appended. It just doesn't want to prepend.

`prepend-icon="location_on"`

No error is showing in the console.

What could I be doing wrong here?

[2018-02-22 20:29] maxcook opened #21 "Maybe debounce the google request to reduce API load?"
So when you start typing the address, each new key triggers a request to google API. As the API is limited, probably many would prefer a somehow debounced search like with _lodash/debounce_. This would cause the search to wait a few hundred milliseconds before the search starts and delays it, if another key is put into search. Therefore the number of requests would be reduced drastically.

Any cha

[2018-02-22 23:05] maxcook opened #22 "How to populate a value from the server?"
So i use this awesome component to create and edit a model. So in the creation form it all works like a charm. However, in the edit form i would like to populate the current value of the model into the vuetify-google-autocomplete
I tried :value, v-model and the $refs.address.update() to set the initial value to the field but it doesnt work at all. Any ideas?

[2018-02-23 00:30] mwargan opened #23 "Can we use hint?"
I tried to use `:hint` or `hint`, but neither seemed to work. Any simple solution to implement that?

[2018-02-23 13:24] mwargan opened #24 "Returning ISO country value"
Hello!

Is it possible to return the ISO code of the country, instead of / with a country name?

[2018-02-24 21:54] #12 closed

[2018-02-24 22:19] MadimetjaShika commented on #11
Hi there. This issue should now be fixed. The problem was that the component was exported as ES6 and not ES5, which meant that to use it you needed to have some loader that could read ES6 or a transpiler to transpile the code from ES6 to ES5 before usage.

[2018-02-24 22:19] #11 closed

[2018-02-24 22:19] MadimetjaShika commented on #11
PS - let me know if you still experiencing any issues.

[2018-02-24 22:24] MadimetjaShika commented on #16
Hi there.

This issue should now be resolved. Please refer to the [latest release notes](https://github.com/MadimetjaShika/vuetify-google-autocomplete/releases) on usage changes.

As noted on the release notes, you _might_ still experience issues if you try to use this component with a different vue component that also loads the Google API. I haven't yet built to cater for that.

Again, I do apolo

[2018-02-24 22:24] #16 closed

[2018-02-24 22:27] MadimetjaShika commented on #17
Hi @benjaminpwarren!

Thanks for pointing this out. A previous commit made actually changed the default value from false to true, which shouldn't have happened. I have resolved this in [the latest release](https://github.com/MadimetjaShika/vuetify-google-autocomplete/releases) though.

Thanks for pointing this out. I do apologise for taking so long to get to this. Do let me know if you still exper

[2018-02-24 22:27] #17 closed

[2018-02-24 22:29] MadimetjaShika commented on #19
Hi @jess8bit,

Thanks for posting the issue. This has been resolved in the latest release. So any v-model you pass to the component should behave as expected. Please refer to the [latest release notes](https://github.com/MadimetjaShika/vuetify-google-autocomplete/releases) for changes.

Thanks again!

[2018-02-24 22:29] #19 closed

[2018-02-24 22:30] MadimetjaShika commented on #20
Hi @mwargan,

Seems there was a typo in the code that resulted in this bug. I have resolved this in[ the latest release](https://github.com/MadimetjaShika/vuetify-google-autocomplete/releases).

Please do let me know if you still experience any issues.

Thanks again!

[2018-02-24 22:30] #20 closed

[2018-02-24 22:32] MadimetjaShika commented on #22
Hi @maxcook,

This issue should now be resolved in [the latest release](https://github.com/MadimetjaShika/vuetify-google-autocomplete/releases).  So any v-model you pass to the component should behave as expected.

Do let me know if you still experience any issues

Thanks!

[2018-02-24 22:32] #22 closed

[2018-02-24 22:35] MadimetjaShika commented on #23
hi @mwargan,

Thanks for posting this. This prop was introduced in a later version of Vuetify which was not yet supported by this component. I have however updated the component to support Vuetify v1.0.3 which is the latest at the time of writing this post. So you can now pass ``:hint`` and it will behave as expected. See the [latest release notes on v2.0.0-alpha.4](https://github.com/MadimetjaShi

[2018-02-24 22:35] #23 closed

[2018-02-24 22:49] MadimetjaShika commented on #24
Hi @mwargan,

I'm not too certain what you mean by your question. The component returns the result from Google Places call via the ``:placechanged="..."`` event. The handler function will be passed three parameters;
* ``returnData`` - Which is just a re-formatted version of the result object returned from the Google API call,
* `` place`` - Which is the exact and full (unmodified) result  object r

[2018-02-24 22:49] #24 closed

[2018-02-24 22:55] MadimetjaShika commented on #8
Hi there,

This problem should now be resolved in [the latest v2.0.0-alpha.4 release](https://github.com/MadimetjaShika/vuetify-google-autocomplete/releases) . This was due to the project being exported as a .vue file, which meant that you needed to have an appropriate loader for that file type. The project is now exported as a ``.js`` file and ES5 format.

This should allow for usage within plain

[2018-02-24 22:55] #8 closed

[2018-02-24 23:03] mwargan opened #25 ":placechanged not being triggered"
Just downloaded the Alpha4 version and see a breaking change that is causing `:placechanged` not to trigger.

`<vuetify-google-autocomplete google-api-key="key" id="map" prepend-icon="location_on" label="Meeting location" types="address" value="test" :enable-geolocation="true" :placechanged="getAddressData">
                                </vuetify-google-autocomplete>`

`getAddressData(addressDa

[2018-02-24 23:11] MadimetjaShika commented on #25
Oh geez yes, that is a breaking change. 🤦‍♂️

I think a ``v-model`` shouldn't be required by default due to the different ways this component can be used. So i'll change the component not to require the ``v-model`` value.

Thanks for noting that!!

PS - I **really** need to get tests sorted out on this component...

[2018-02-24 23:18] MadimetjaShika commented on #12
Hi @rolandszpond,

Thanks for posting this. I do apologise in having taken forever to resolve this issue. This is now resolved in the [latest release v2.0.0-alpha.5](https://github.com/MadimetjaShika/vuetify-google-autocomplete/releases). So you should now be able to pass down a ``v-model`` value as a default value for the text field.

Do feel free to re-open this issue if you still experience any

[2018-02-24 23:28] mwargan commented on #25
Actually I'm not even getting results listed, even with a `v-model`. Not getting anything useful in the console - am going to look at the changes closer between this version and the previous one and see if I spot anything.

I'm just gonna throw in a quick thank you for staying on top of this and addressing my previous issues ;)

[2018-02-24 23:52] MadimetjaShika commented on #25
You're most welcome mate! I've resolved the v-model issue with [a new release](https://github.com/MadimetjaShika/vuetify-google-autocomplete/releases/tag/v2.0.0-alpha.5). So the component should work as expected with or without the ``v-model`` prop.

Regarding the issue you just noted, that's odd, you shouldn't be observing that. How does your code look? As in how have you initialised and imported

[2018-02-25 00:00] mwargan commented on #25
Huh... here's how I'm initialising the component:
[code]

`npm upgrade` isn't pulling the newest version so I force it by `npm i vuetify-google-autocomplete@2.0.0-Alpha.5 --save`

In the console, all I see is `Missing required prop: "value"` but I think thats related to the address model initially being set to `''`

When I try to downgrade with `npm i vuetify-google-autocomplete@2.0.0-alpha.1.test

[2018-02-25 00:44] MadimetjaShika commented on #25
Hmm, try updating to ``v2.0.0-alpha.5`` of the component. I think you might be getting that error due to the ``v-model`` issue, because in version ``v2.0.0-alpha.4`` if it's not present the component won't load.

I have also created a very [basic and minimal webpack example project](https://github.com/MadimetjaShika/vuetify-google-autocomplete-simple-example) where everything works as expected. So

[2018-02-25 00:51] MadimetjaShika commented on #25
Just noting the edits you made, you might want to delete your ``node_modules`` folder and clear your npm cache with ``npm cache clear --force``, then try re-installing dependencies with verbose output (to see if anything goes wrong) and without cache using ``npm i -d --no-cache``. You could possibly be facing some npm caching issues...

[2018-02-25 01:17] mwargan commented on #25
Cloned and works great - I'll dig deeper on my end to see what's up.

Cache busting and folder deleting didn't help :/

So far I've figured out that it's using the API-key correctly and loading the component fine, just not loading the results...

What I don't get is why my current app creates a `<script src="https://maps.googleapis.com/maps/api/js?key=...&amp;libraries=places&amp;callback=initGoog

[2018-02-25 02:51] jess8bit commented on #19
Thanks for the update!

[2018-02-25 07:49] MadimetjaShika commented on #25
Hmm that doesn't seem right. Your app is generating the correct and expected script, and if I run the example project I only see the one expected script that you also observer for your app, as below.

<img width="1920" alt="screen shot 2018-02-25 at 09 33 58" src="https://user-images.githubusercontent.com/6643245/36639196-fb5edcba-1a0f-11e8-90cb-ba1cb66331eb.png">

There must be something else cau

[2018-02-25 11:41] iec989 commented on #16
Thank you very much mate - working like a charm

[2018-02-25 12:02] mwargan commented on #25
Sure - here's the [codebase :)](https://github.com/mwargan/TutorOn) . The relevant files are in [`resources/assets/js`](https://github.com/mwargan/TutorOn/tree/master/resources/assets/js), the main.js being [`resources/assets/js/app.js`](https://github.com/mwargan/TutorOn/tree/master/resources/assets/js/app.js). I've also created a simple page that copy pasted your 'front-end' in  [`resources/asse

[2018-02-25 15:24] MadimetjaShika commented on #25
So I just ran your app and everything runs perfectly okay, the "handlePlaceChangedEvent" callback gets called successfully.

<img width="1920" alt="screen shot 2018-02-25 at 17 15 01" src="https://user-images.githubusercontent.com/6643245/36643112-ef703f9e-1a4f-11e8-9670-5be8f1128ebb.png">

The component also only creates one script tag for Google maps as expected.

<img width="1920" alt="screen s

[2018-02-25 16:12] mwargan commented on #25
Huh - I didn't even think to check `/admin#/area`, I've been working on `/public#/area` - you're right it does work! Sorry for the troubles! This narrows down my problem :)!

[2018-02-25 16:18] MadimetjaShika commented on #25
No worries mate, glad I could help ;)

[2018-02-25 16:18] #25 closed

[2018-02-26 02:23] mwargan opened #26 "Component fails to list results after route change"
Hey :P!

It looks like the component is failing to show results after a route change - see https://github.com/mwargan/vuetify-google-autocomplete-simple-example (added a router)

Nothing in the console - gets me thinking if there's any better debugging tool for Vue I could acquire.

Let me know if I can provide more info!

[2018-02-28 06:25] ewwwgiddings commented on #26
I am having the same issue. When loading directly it works. With route change it fails.

[2018-02-28 08:24] MadimetjaShika commented on #26
Hey guys,

Thanks for pointing this out. I’ll only get a chance to have a look at this
sometime this coming weekend if not early next week. If any of you guys are
keen on checking it out, you’re welcome to create a PR and I’ll merge it in.

On Wed, 28 Feb 2018 at 08:25, ewwwgiddings <notifications@github.com> wrote:

[2018-02-28 10:08] MadimetjaShika commented on #21
Hi @maxcook,

Thanks for the suggestion. I think it's a great suggestion and I'm happy to incorporate that in. I'll probably only get a change to look into this sometime this weekend if not early next week. If you're keen, you're welcome to make a PR for it then i'll merge it in. Otherwise you might have to wait :)

[2018-03-06 16:45] timothynott commented on #26
Doesn't need to be a route change. I've got the component in a wizard step and if I go back (not using history) it also stops working. I've run a few tests on the events in the component and they all seem to be responding. I'm wondering if this is actually an issue with Google's code. I've had a similar issue with the Google Maps SDK in the past. Looking into it.

[2018-03-06 17:48] timothynott commented on #26
I adjusted my code to use a v-show instead of v-if for the blocks I was showing/hiding for the wizard and that did the trick. My guess right now is that "googeMapState.initMap" does not get re-triggered and so setupGoogle() does not run

[2018-03-06 18:47] timothynott commented on #26
[pull req submitted](https://github.com/timothynott/vuetify-google-autocomplete)

Would be interested to hear if this fixes the issue for route changes, as well.

[2018-03-06 19:16] MadimetjaShika commented on #26
Hi @timothynott

Thanks for the PR, much appreciated! I've merged it in, i'm going to publish a new version just now and will let you know once done.

[2018-03-06 19:26] MadimetjaShika commented on #26
I've published the fix under alpha version ``vuetify-google-autocomplete@2.0.0-Alpha.6``.

@mwargan and @ewwwgiddings, please let me know if this resolves the route change issue that you had.

[2018-03-07 13:25] jderrough opened #29 "Using vuetify-google-autocomplete with vue-google-maps"
Hi @MadimetjaShika,

I'm building a Vue component using vuetify-google-autocomplete and [vue-google-maps](https://github.com/xkjyeah/vue-google-maps).
It seems I'm running into trouble as both access the Google Maps API as you suspected in #16:

I tried using `:load-google-api` as mentioned in the release notes, without success.

Do you have plans in the near future to make such an integration pos

[2018-03-07 22:02] ewwwgiddings commented on #26
When I load the site on localhost then first thing navigate to the autocomplete's page it does not work. When I load the site and then go to the autocomplete's page indirectly it does work now.

So yes it works better now, and I think it is something with my code that is causing that buggy situation, not with this. I will be looking into why probably some time this week. If I find it to be somethi

[2018-03-08 22:52] mwargan commented on #26
Looks like I'm still running into the issue. As mentioned above, it does work better, so a big thumbs up for your continual efforts 👍!

Interestingly, I've noticed that v6 works when routes change as long as the router is saved under a `keep-alive`. Not yet sure if related, but the first component with autocomplete to load and with keep-alive works great (even after some nav), but if I have anothe

[2018-03-10 09:29] MadimetjaShika commented on #29
Hi @jderrough

Thanks for posting the issue, i'll look into this sometime this weekend and let you know when it's all sorted. I think I have an idea of what might be causing this.

[2018-03-10 09:31] MadimetjaShika commented on #26
Cool thanks guys. I'll look into this sometime this weekend and let you know when resolved.

[2018-03-11 22:59] lsbyerley opened #30 "Nuxt and window is not defined error"
Looking to include this as a plugin in Nuxt and getting a `window is not defined` error. This is my plugin file

    import Vue from 'vue';
    import VuetifyGoogleAutocomplete from 'vuetify-google-autocomplete';

    Vue.use(VuetifyGoogleAutocomplete, {
      apiKey: 'the-key'
    });

 It appears the error is at `window.vgaMapState = {...}` and most likely `window.initVGAMaps = function(...)` in

[2018-03-12 18:52] NicolaeCasir commented on #30
I solved this problem with:

`...
plugins: [
    { src: '~/plugins/autocomplete.js', ssr: false},
    ...
]
...`

But anyway won't work. I do not have errors, but autocomplete don't work.

[2018-03-13 01:11] MadimetjaShika commented on #30
Hi,

This error does make sense in the context of Nuxt. A simple fix is to first check if ``window`` and ``document`` are both defined in ``helper.js`` and ``index.js`` before trying to do anything. If they aren't defined (meaning we are in a server-side context, or something of the sort), the logic should simply return and not continue. If any of you are keen you're welcome to submit a PR and i'l

[2018-03-13 18:25] santanubasu commented on #26
Any update on this one?  The component works great otherwise, but this one issue is preventing us from using this in production.

[2018-03-13 19:47] timothynott commented on #26
Submitted another PR tested against route changes with vue-router.

[2018-03-13 23:08] lsbyerley commented on #30
@MadimetjaShika played around with the solution you suggested, checking window and document, but that seems to lead to a `Cannot read property 'setAttribute' of null` in line 337 of VuetifyGoogleAutocomplete.js

I also get errors using @NicolaeCasir suggestion.. so, I'll continue to debug.

[2018-03-14 04:12] MadimetjaShika commented on #26
@timothynott thanks so much for the PR! I've merged and published new version ``2.0.0-Alpha.7`` 👍

I've tested this with route changes and it seems to be working okay now. Thanks again @timothynott!

[2018-03-14 15:23] timothynott commented on #26
Happy to help

[2018-03-14 15:32] timothynott opened #32 "NPM update reverts to "2.0.0-alpha.1.test.3""
*Steps to reproduce:*
- npm update vuetify-google-autocomplete

package.json now lists the package as "^2.0.0-alpha.1.test.3"

*Steps to fix:*
- npm remove vuetify-google-autocomplete
- npm install vuetify-google-autocomplete

[2018-03-14 16:12] santanubasu commented on #26
Good stuff, thanks guys.  Confirming that this resolves the issue on route change for me.

[2018-03-15 08:49] QuentinPotgieter opened #33 "Getting a focus or blur of undefined"
Hi, great package you have made - thank you.

I am receiving: "**_[Vue warn]: Error in mounted hook: "TypeError: Cannot read property 'focus' of undefined_**"

    **at VueComponent.focus (webpack-internal:///895:293)
    at VueComponent.boundFn [as focus] (webpack-internal:///4:192)
    at VueComponent.mounted (webpack-internal:///474:256)
    at callHook (webpack-internal:///4:2894)
    at Objec

[2018-03-18 08:33] #30 closed

[2018-03-18 08:46] MadimetjaShika commented on #30
Hi @lsbyerley

I have published a new release which should resolve this, ``2.0.0-Alpha.8``.

In order to get this working with nuxt, I had the following setup

#### nuxt.config.js
[code]
or as suggested by @NicolaeCasir (both do work)
[code]

#### plugins/vuetify-google-autocomplete.js
[code]

#### .vue file
[code]

Feel free to re-open this issue if you still face any problems.

[2018-03-18 09:50] MadimetjaShika commented on #29
Hi @jderrough

Regarding the route-change issue, it has been noted in #26 and should now be fixed as of ``2.0.0-Alpha.7``.

As for the issue regarding using multiple libraries that depend on the Google Maps SDK, I am still looking into this and trying to figure out how to elegantly and effectively get around this. A simple fix I thought of was to rely on the consumer/parent to "_synchronously_" lo

[2018-03-18 09:53] MadimetjaShika commented on #26
Closing this issue as resolved. Feel free to re-open if still experiencing the same problem.

[2018-03-18 09:53] #26 closed

[2018-03-18 10:16] MadimetjaShika commented on #33
Hi @QuentinPotgieter

Just to make sure I understand you correctly, are you saying when you include the component multiple times on the same "view", you get that error? If so, I am unable to reproduce that error. Could you please provide a code sample of your scenario which triggers that error, or perhaps correct my understanding if I misunderstood.

Just as a side note, the ``focus()`` method you

[2018-03-18 15:31] lsbyerley commented on #30
@MadimetjaShika Awesome, thank you for getting this to work. One issue I still encounter is a `navigator is not defined` error when loading the page directly in the url as opposed to navigating to it from index. I am setting `enable-geolocation="true"` in the component. If i set it to false, this doesn't happen

Secondly, and I can open another issue for this, is when setting the `types` prop to `

[2018-03-18 18:25] MadimetjaShika commented on #30
Hi @lsbyerley, please open a new issue for the ``navigator is not defined`` error. I will have a look into it in the meantime.

[2018-03-19 03:50] lsbyerley opened #35 "Nuxt and true enable-geolocation prop results in navigation error"
If using this component as a Nuxt plugin, setting the `enable-geolocation` prop to `true` results in a `navigator is not defined` error in VuetifyGoogleAutocomplete.js [at this line](https://github.com/MadimetjaShika/vuetify-google-autocomplete/blob/7227e9a26ecaa81d6c4e7045be868a49725d9d5c/src/VuetifyGoogleAutocomplete.js#L299) when loading the page directly. There is no error if navigating from t

[2018-03-19 03:57] lsbyerley commented on #30
#35 `navigator is not defined` issue created

[2018-03-30 16:31] timothynott commented on #32
This is still happening to me.
Is anyone else seeing this behavior?

[2018-03-31 10:21] MadimetjaShika commented on #32
Hey @timothynott

I noticed the issue too. I asked the folks at NPM to delete the version from the registry however they could not do so. However as soon as a Beta or official v2 is released the problem should be gone, which I think should be soon as it seems most of the fundamental issues have been identified and addressed already in the Alpha versions. I'd just like to bring unit tests back to t

[2018-04-10 13:36] QuentinPotgieter commented on #33
Hi @MadimetjaShika,

Thank you for your response. I am still receiving the same issue but believe it to be coming from somewhere in my vuejs stack. Kindly close this ticket.

Thank you for your assistance.

[2018-04-11 07:23] MadimetjaShika commented on #33
Thanks @QuentinPotgieter. Feel free to open a new issue if you are still experiencing issues with this or need help.

[2018-04-17 18:58] MadimetjaShika commented on #35
Hi @lsbyerley

Sorry i've taken so long with getting back to this. I'm trying to reproduce the ``navigator is not defined`` error but I am unable to, so when navigating to a page with the autocomplete component using ``<nuxt-link>`` and with ``:enable-geolocation="true"``, everything works as expected and no errors are thrown.

Do you mind posting some code sample that throws the error for me to w

[2018-04-17 19:05] lsbyerley commented on #35
@MadimetjaShika The error was generated when loading the page directly in the url, not using a `<nuxt-link>`. So, if the VuetifyGoogleAutocomplete is used on a page named `testing`... you would type in `localhost:3000/testing` and load the url.

[2018-04-17 19:30] MadimetjaShika commented on #35
@lsbyerley thanks. However even when loading the route directly like you mentioned, I still do not get the error. See gif below.

![vga-nuxt-error](https://user-images.githubusercontent.com/6643245/38891861-e8b26250-4285-11e8-97ab-2c2c29a9b30f.gif)

If you can share the exact sample code throwing this I may be able to help, as I am unable to reproduce it at the moment.

[2018-04-17 20:21] lsbyerley commented on #35
@MadimetjaShika That is odd... I can still replicate the issue. Here is my autocomplete code and also a gif of the actions. Hope that helps

    <vuetify-google-autocomplete
      :prepend-icon="prependIcon"
      :placeholder="placeholderText"
      :country="country"
      :id="id"
      :label="label"
      :enable-geolocation="true"
      :types="types"
      v-on:placechanged="setLocation"

[2018-04-17 20:39] MadimetjaShika commented on #35
Hmm, I see. I might have an idea of how to reproduce that error. I'll play around and let you know. Although I can simply fix this by adding a check before executing the code on the ``navigator``, i'd first like to make sure of the error in order not to introduce any new errors.

Side note - tests would be so awesome right now 🤦‍♂️

[2018-04-17 20:44] lsbyerley commented on #35
@MadimetjaShika Appreciate your time. I'll try to spend a little time debugging it too.

[2018-04-18 04:46] rwhu opened #36 "Select first search result upon loss of focus"
Is there a way to select the first search result by default upon loss of focus or the user hitting enter (without arrowing down)?

[2018-04-26 14:14] gabaum10 commented on #29
This is causing issues for me as well.  I'm seeing all sorts of load errors and weird behaviors.  Is there a way to detect if the API has already been loaded and not include it?

[2018-04-26 14:17] gabaum10 commented on #29
As mentioned in the original issue, It looks like there is already a prop called `loadGoogleApi`, but it doesn't seem to do anything.

[2018-04-26 14:35] gabaum10 opened #37 "[Bug] - When using the "clearable" option placechanged isn't triggered"
When using the vuetify `clearable` option, when you click the clear button it clears out the value, but the placechanged callback isn't fired.

On top of that, the inputChange event never seems to fire.  I was going to try to hack around that and see if it'll give me something to listen to an evaluate for nothing.  But alas, that doesn't work either.

[2018-04-26 14:53] gabaum10 commented on #37
I actually tried to dig into this to see if I could figure out what's going on and holy crap I'm confused.  Why are you trying to do so much with events?  Why not just bind the v-model on the text input and setup a watcher on that property.  Then you don't need to try to wire up all the events and it'd be more reliable.

[2018-04-26 18:17] gabaum10 commented on #29
@MadimetjaShika I submitted a pull request with a fix to prevent google from being loaded multiple times.

[2018-04-26 19:09] gabaum10 commented on #37
Hmm... this is working now.  Wonder what I was doing wrong before.  I wonder if it was another side effect of google being loaded multiple times.  Anyway..

[2018-04-26 19:11] gabaum10 commented on #37
Oh no it is still now working.  Right.

[2018-04-26 19:14] gabaum10 commented on #37
I see why it's not using a model now.  We don't want it to actually trigger the change unless the user actually selects a location.  I think.  How to make the clear work though?  I'm not sure.

[2018-04-26 19:47] gabaum10 commented on #37
I submitted a PR #39

[2018-04-26 20:44] gabaum10 opened #40 "Add a loading indicator while searching"
It's built in via vuetify text input.  Let's use it.

NOTE: this should be a composite attribute with the loading passed in.  I have a need where I want to to show loading for an outside event as well as the internal search.

[2018-04-26 20:46] #40 closed

[2018-04-26 20:47] gabaum10 commented on #40
Looks like no events are exposed via the google autocomplete.  Silly.

[2018-04-27 20:04] #29 closed

[2018-04-27 20:09] MadimetjaShika commented on #29
@gabaum10 thanks for the PR, i've tested and it seems to be working as intended, nice one!

@jderrough please just confirm if this works for your scenario as well. The fix is published from version ``2.0.0-Alpha.9``

[2018-04-27 20:29] MadimetjaShika commented on #37
Hi @gabaum10

Thanks for the PR. It's been merged and published under version ``2.0.0-Alpha.9``.

To answer your previous question, yes the scenario you mentioned is one of the reasons why we are not directly binding via the v-model for reactivity, and why events are explicitly emitted instead.

It's  worth noting as well, part of the reason why I began the version ``2.*`` journey is because I fou

[2018-04-27 20:29] #37 closed

[2018-05-14 12:45] DoritoBandito opened #41 "if no placeholder prop it displays undefined"
If you do not have a placeholder prop on your component it will display 'undefined' as the placeholder.

[2018-05-23 04:00] DoritoBandito opened #42 "value not updating when place changes"
`_this2.autocompleteText = document.getElementById(_this2.id).value;`

`value` in this code is not updated upon getting a new place. Not sure my implementation is correct or not but when selecting an option the text does not update in the input.

[2018-05-27 16:34] project-orcon opened #44 "Which version is in the demo?"

[2018-05-27 16:46] MadimetjaShika commented on #44
Hi, I just updated the demo to use the latest version ``2.0.0-Alpha.9``. An older version was running (likely ``2.0.0-Alpha.8``). Thanks for pointing that out.

[2018-05-27 16:46] #44 closed

[2018-05-27 17:14] MadimetjaShika commented on #42
Hi, thanks for pointing this out. I found this bug rather odd because this is something that has been working alright all along. I imagine it possibly could have slipped through the cracks through another fix. I've published version ``2.0.0-Beta.1`` with the fix. Thanks again. Let me know if there are still issues please.

[2018-05-27 17:14] #42 closed

[2018-05-27 17:20] MadimetjaShika commented on #41
Hi @DoritoBandito, thanks for pointing this out. It's been fixes on version ``2.0.0-Beta.2``.

[2018-05-27 17:20] #41 closed

[2018-05-27 17:21] MadimetjaShika commented on #44
@project-orcon  I've published a new release with a few fixes, ``2.0.0-Beta.2``.

[2018-05-28 02:55] project-orcon commented on #44
Thanks for the fantastic library!

[2018-05-28 10:46] kstraszewski opened #45 "Validation doesn't work"
Hi I have a problem with validation on blur, i would like to validate vuetify-google-autocomplete, but nothing heppens
Here is my html

`            <vuetify-google-autocomplete
        append-icon="search"
        :clearable="true"
        :country="['PL']"
        :rules="rules"
        :disabled="disabled"
        :validateOnBlur="true"
        :enable-geolocation="false"
        label="Wyszuka

[2018-05-29 10:59] mickaelchanrion commented on #45
Hi, the same for me!
In addition, I use vee-validate for validation. If I add vee-validate props, then the app crashes (not responding) :/
Do you have any idea @MadimetjaShika?

An example:
[code]

[2018-06-04 04:56] vibrates09 opened #46 "Actual Map"
Hello guys. Beginner here.
How can we see the actual map?

[2018-06-06 16:13] timothynott commented on #46
Viewing a map is outside the scope of what this library does -- it simply returns addresses. You will want to google "show a google map based on an address" or something similar

[2018-06-06 16:14] #46 closed

[2018-06-06 16:31] timothynott commented on #45
I solved this by populating a hidden field with results and applying validation to the hidden field.

[2018-06-06 18:51] kstraszewski commented on #45
@timothynott Can you show an example?

[2018-06-06 19:40] MadimetjaShika commented on #32
Resolved. NPM is sensitive to version naming, so the capitalisation of the "B" in "Beta" or "A" in "Alpha" causes confusion. Versions are now strictly lower cased. ``npm update`` should now always return the latest version as expected.

Please let me know if anyone still experiences the problem.

[2018-06-06 19:40] #32 closed

[2018-06-06 19:45] MadimetjaShika commented on #36
Hi @rwhu, apologies for the deployed response. I'll look into adding this capability sometime towards the end of this week.

[2018-06-06 19:48] MadimetjaShika commented on #45
Hi everyone. This is a rather odd issue. I'll look into getting it resolved.

[2018-06-06 20:25] timothynott commented on #45
Sure. Tough to do a code example without a full publish, but the basic premise is using your placechanged callback to populate a hidden text element and having applying validation to that field.

Here's some example markup that would be in your template:

    <vuetify-google-autocomplete
        v-on:placechanged="googleStreetAddress"
        v-on:no-results-found="noGoogleStreetAddress"
        v

[2018-06-06 20:40] MadimetjaShika commented on #45
@kstraszewski could you please post your script file, particularly the value you're passing to the ``rules`` prop. I am able to get validation via the rules prop (with validate-on-blur set to true) working correctly using the example app and setup similar to yours (see gif below). Also, which version of the library are you using?

[code]

[code]

![vga_validation_on_blur](https://user-images.githu

[2018-06-08 11:53] #45 closed

[2018-06-23 09:36] project-orcon opened #48 "drop down menu not showing up in latest firefox android"
The drop down menu doesn't show in the latest version of firefox (version 60.0.1) for android, unless the user taps out of the input, then taps on the input box again. Any idea on how to fix? cheers

[2018-06-24 20:45] jvb93 commented on #29
@gabaum10 @MadimetjaShika Hey guys, I'm on 2.0.0-beta.4, also using vue-google-maps with this library and am still getting `You have included the Google Maps JavaScript API multiple times on this page. This may cause unexpected errors.`

Am I missing something?

[2018-07-14 16:24] threeaccents opened #51 "Input not being updated"
Once an address is selected the input doesn't update with the full address.

Here is my component

[code]

[code]

If I start typing let's say `15565` and the address list pops up and I select an address the function gets called the address variable gets set but in the UI the input doesn't update with the full address it just stays `15565`

[2018-07-16 07:27] ledermann commented on #26
Just stumble about this issue still present in 2.0.0-beta.4: On first load all is fine, after route changing the result list stays empty. PR #31 seems to be not enough.

Here is my code (of a component using vga, reduced to relevant parts) including a hack to execute `setupGoogle` on mounting my component:

[code]
With the hack in `mounted` it all works fine.

Versions used:

* Vue 2.5.16
* Vuetif

[2018-07-16 09:15] ledermann opened #52 "Disable spellcheck"
`spellcheck` should be disabled for the corresponding `input` to remove the dotted red line in this example (screenshot taken in Chrome on macOS):

<img width="574" alt="disable-autocorrect" src="https://user-images.githubusercontent.com/3557/42751176-34c556f2-88ea-11e8-8e48-88c22f89b209.png">

And, while you're at it, `autocorrect` and some other attributes of the `input` element should be disabl

[2018-07-16 19:42] vahdet opened #53 "Initial location data"
Firstly, thanks for the great work 🥂
Now, I am to use this component as a part of user profile of a website.

So, I want the field to have an initial data (i.e. the currently registered place) when the user wants to edit his/her location info -if exists. Now,

- Is it doable already?
- Would it be added?
- Or such a kind of feature is out of scope of this?

[2018-07-26 10:42] MadimetjaShika commented on #53
Hi @vahdet,

What you want is possible, you can achieve it by passing the default/initial value as the ``v-model`` to the component, and the value will then be pre-populated. The value passed as the v-model is also reactive and will be updated with the **string** in the input box whenever a new address is selected.

Note that to get more information on the search, you'd have to listen on the ``pla

[2018-07-26 12:36] MadimetjaShika commented on #51
Hi @threeaccents,

That behaviour is odd and shouldn't be happening. I'm struggling to reproduce this though. Which version of the library are you using?

Can you please also share a screenshot of how the input looks after you've selected an address?

[2018-07-29 15:05] kelflame2610 opened #54 "Include all types"
The **types** prop works just fine, and you can change it to 'address', establishment, (regions) and etc.
However, is there a way to include multiple types?

[2018-07-30 09:01] MadimetjaShika commented on #54
Hi @kelflame2610,

According to the [Google Places Docs](https://developers.google.com/places/supported_types#table3),

Hope that answers your question. Will close this issue for now, feel free to re-open if I did not answer your question.

[2018-07-30 09:01] #54 closed

[2018-08-01 12:56] MadimetjaShika commented on #48
Hi @project-orcon,

Unfortunately I don't own a ***stable*** android device, I'll try test this out as soon I can on an android device with the version you mentioned -- not sure when that will be though. For now, hopefully someone else will be kind enough to look into this before then.

-Madi

[2018-08-01 13:02] MadimetjaShika commented on #48
PS - i'm also planning on making this library _purely and strictly_ use Vuetify components, including the drop-down element. So the entire look and experience is 100% Vuetify. Can't confirm when this will be at the moment..

[2018-08-12 15:14] phaberest commented on #16
Hi @MadimetjaShika, is there a way to avoid the load entirely and just keep the key for the requests? I'm using another component to show a map and it is conflicting as both load the google maps js

[2018-08-29 08:53] nkostic commented on #51
Hi,
I have the same issue with 1.1.0. Tried Chrome PC and Mac.
See the behaviour in this example video : https://drive.google.com/file/d/1lea7q-lIzYRsOXTXPkWfFV9wB9y-wSVc/view
Also attached is the screenshot photo
![step1](https://user-images.githubusercontent.com/426266/44777011-ba7ae500-ab36-11e8-912e-0fb52c46a012.png)

![step2](https://user-images.githubusercontent.com/426266/44777019-bf3f9900-

[2018-08-29 08:59] nkostic commented on #51
Tried also the 2.0.0-beta.4 and it seems like that issue is not present there but I have different issue.  Only when I reload the page plugin works, after I switch page (using vue router) plugin stops working until manual reload of the page occures.

[2018-08-29 15:23] redhedded1 opened #55 "No drop down to choose locations"
Using this on a SPA built with Vue CLI 3. Neither stable version supplies a dropdown of choices.

On further investigation, none of the vuetify components using dropdowns (select, datatable, etc.) show the drop down or show it absurdly displaced away from the component.

Too bad, both Vuetify and this package would be stellar if they were usable (due to the dropdown issue).

[2018-09-04 07:00] SzymonKrysztofiak commented on #55
I have a problem with this lib on Vue CLI 3. I need to reload my SPA site every single time when i want to type some place. Otherwise it doesn't work... Any suggestions?

[2018-09-04 09:22] SzymonKrysztofiak opened #56 "Vue CLI 3 SPA need to reload site"
I need to reload my SPA site every single time when i change my route. I checked the library. When I remove `destroyed: function destroyed() {
window.vgaMapState.initMap = false
},` everything works fine.

@MadimetjaShika can you explain this piece of code?

Regards,
Szymon

[2018-09-05 18:37] albertvolkman commented on #56
Yes, I'm having the same issue. Removing that line of code fixes it.

[2018-09-05 18:42] szymon-krysztofiak-dev commented on #56
Instead of removing the code from the library, I just added this fragment to my component with `true` flag. Like this: `destroyed() { window.vgaMapState.initMap = true }`
Works well, but it is unreadable to others in the project...

[2018-09-11 18:02] redhedded1 commented on #55
I'll close this out of lack of concern from anyone.

[2018-09-11 18:02] #55 closed

[2018-09-11 18:44] MadimetjaShika commented on #55
Hi Larry,

Thanks for posting this. Unfortunately I’m unable to have a proper look at
this at the moment, and will only get a chance to investigate properly
within the week or so. If you do have a solution, please make a PR and I’ll
be happy to merge if all is well.

Apologies for my delayed responses. 🙏🏾

On Tue, 11 Sep 2018 at 20:02, Larry A. Ball <notifications@github.com>
wrote:

[2018-09-14 05:45] VincentMRA opened #57 "multiple types"
I would like to add multiple types. (address, establishments and (regions))
I believe it works when i submit an array, but it also returns an error.

Could you please fix this? :)

Cheers,

[2018-09-15 11:38] SzymonKrysztofiak commented on #57
Where You want to add multiple types? In searchbar?

[2018-09-16 13:37] MadimetjaShika commented on #36
Hi @rwhu,

My apologies for taking so long on this. I've done some research and i'm not too sure if this is a possibility with native html5, without Jquery and other such libraries.

Have you perhaps been able to achieve something like this with native HTML5 capabilities? If you can share something then perhaps we can leverage off that.

Also, i'm planning to migrate this library to make full of o

[2018-09-16 13:58] MadimetjaShika commented on #57
Hi @VincentMRA,

Thanks for the issue. However according to the Google Places Autocomplete docs:

There is an exception however where you can pass "geocode" and "establishment", however according to the docs, ``this will have the same effect as specifying no types``. Hence only one type is catered for on this library.

Please refer [here](https://developers.google.com/places/supported_types#table3

[2018-09-16 13:58] #57 closed

[2018-09-16 15:07] MadimetjaShika commented on #56
Hi Guys,

Thanks for posting this issue. This should be resolved in the next release, which I will publish within an hour or two. ``v2.0.0-beta.5``

@SzymonKrysztofiak the reason behind the ``destroyed: function destroyed() { window.vgaMapState.initMap = false }`` was to ensure that we "reset" the maps init indicator, so that the component forces a reload of the places library when the component i

[2018-09-16 15:20] MadimetjaShika commented on #51
Hi Guys,

@nkostic - I've explained the issue behind the library not working after a vue-router page navigation in issue #56, you can read there for an explanation. However this has now been resolved, and should be okay in the next release.

@threeaccents I still cannot reproduce the issue you mentioned with the input not updating (with ``v2.0.0-beta.4``), see attached gif.

![vga-input-not-updati

[2018-09-16 15:22] MadimetjaShika commented on #52
Hi @ledermann ,

Thanks for posting this issue. I do apologise for taking very long to address this.

This should be resolved in the next release, ``v2.0.0-beta.5``, and should be published within the next hour or two.

Please do let me know if you still experience issues.

[2018-09-16 15:47] #52 closed

[2018-09-16 15:47] #56 closed

[2018-09-16 15:52] MadimetjaShika commented on #53
Closing this as inactive. Feel free to re-open if still an issue.

[2018-09-16 15:52] #53 closed

[2018-09-16 16:03] #51 closed

[2018-09-17 04:18] ledermann commented on #52
`v2.0.0-beta.5` works fine, thank you!

[2018-10-08 02:12] gerardfollano opened #59 "Filter returned data based on a specific city?"
Great plugin! everything works beautifully. I am just wondering if there is anyway to set restrictions on returning data to only be within a specific city/state? So if a user inputting a zip code the api is only going to return zip codes that fall within that specified city or location.... Thanks!

[2018-10-08 02:56] gerardfollano commented on #59
Also, it looks like interpolation is not working on this component. When i apply a v-model directive to it, I only get the value of the property on initial instantiation, but when i start typing it does not update appropriately....

[2018-10-13 10:41] jondewoo commented on #29
Hi @MadimetjaShika,

I'm now using the 2.0.0-beta.5, and autocomplete still doesn't work when accessing or refreshing the page using the component. Same context as before, I'm using Google Maps along with this component. I'll try to investigate in the coming weeks.

[2018-10-31 01:32] romucci commented on #29
I am still having issues setting vuetify-google-autocomplete when I am also using vue2-google-maps, I only use the API key when I load google maps and it used to kind of work, but now it gives me certain errors like .

[code]

[2018-10-31 01:36] romucci opened #60 "Using vuetify-google-autocomplete with vue2-google-maps"
I am having issues setting vuetify-google-autocomplete when I am also using vue2-google-maps, I only use the API key when I load google maps.

Apparently the API is not loading correctly on page refresh :/

[code]

[2018-11-20 23:21] andreav commented on #29
Same here (beta-5 me too). Did anyone find a solution?

[2018-12-21 21:08] albernhagen opened #61 "TypeScript Support"
Can you offer any guidance as to how I can use this in a TypeScript project?  I've added this typing:
[code]

But I'm still getting an error like this: `[Vue warn]: Unknown custom element: <v-text-field> - did you register the component correctly? For recursive components, make sure to provide the "name" option.`

[2018-12-27 23:17] albernhagen commented on #61
I got this to work by registering the VTextField component globally in my vuetify.ts file (note that I'm using Vuetify 1.3.x in a la carte mode):
[code]

[2018-12-27 23:17] #61 closed

[2018-12-27 23:29] albernhagen commented on #21
With Google's pricing changes, this should no longer be an issue as it's based on user session now.  Since this plugin uses the Autocomplete widget, this should be a non-issue (https://cloud.google.com/maps-platform/user-guide/pricing-changes/):

`
Autocomplete (Web Service and JavaScript) and the JavaScript Autocomplete widget have been updated to use session-based billing. A session consists of

[2019-01-08 21:31] spatialhast opened #63 "How properly add plugin into simple page?"
I added the plugin into main.js and component into https://github.com/spatialhast/vga/blob/master/src/components/Home.vue. But in the console I have errors:
![image](https://user-images.githubusercontent.com/3269617/50859888-3a467500-139d-11e9-90f7-e31cc85d1f06.png)
How properly add the plugin?
Source code web app: https://github.com/spatialhast/vga

Thanks!

[2019-01-09 09:43] #63 closed

[2019-01-24 10:35] damienmcd opened #64 "No "keydown" event support"
There doesn't seem to be any support for the "keydown" event, which would be used for detecting events on the backspace button.
I need to detect the backspace key press but the keypress event only picks up character (printable) keys.

[2019-02-04 04:10] ComeWllt opened #65 "Language option"
Would it be possible to add a language option, as it is supported by the Google Maps API?

https://maps.googleapis.com/maps/api/js?key=API_KEY&libraries=places&language=LANGUAGE

[code]

[2019-02-06 12:52] imikim opened #66 "Unknown custom element: <v-text-field>"
Hi - Adding your component to my vuetify project gives the following error in the browser:

This is found in <VuetifyGoogleAutocomplete>

And no component is show at all on the DOM

The version is: "vuetify-google-autocomplete": "^2.0.0-beta.5"

[2019-02-06 14:05] imikim opened #67 "Selection lost after choosing with mouse"
Using version 1.1.0, I get the dropdown with the results
If I choose a result by clicking with the mouse, the result is pasted into the field but then immediately deleted (the field then shows only as much as was typed out)
If I choose using the keyboard (arrow down, enter), the result is pasted and stays correctly

[2019-02-21 11:43] MadimetjaShika commented on #66
Hi, which versions of Vue and Vuetify are you using? Do you mind also posting your code please, could be that something is not properly imported.

[2019-02-21 12:04] MadimetjaShika commented on #59
Hi,

Please refer to the Google Places API for how to restrict search options. This library exposes the options offered by the places API. You may want to start [here](https://developers.google.com/places/web-service/autocomplete) with the ``radius`` and ``location`` properties.

Regarding the ``v-model``, that behaviour is intentional. To get result updates, you need to define an event listener t

[2019-02-21 13:21] MadimetjaShika commented on #65
Hi there,

Thanks for this. It definitely will be possible. You're welcome to make a PR if you'd like, otherwise i'll look into this within the week.

[2019-02-21 13:27] MadimetjaShika commented on #64
Hi there,

Is the ``keydown`` event supported by the Vuetify text-field component? And if it is which version of Vuetify supports it? I'm happy to incorporate it if it's supported by Vuetify.

Regards,
Madi

[2019-02-21 13:28] MadimetjaShika commented on #67
Hi there,

Thanks for reporting this. Will look into it within the week.

[2019-02-21 15:14] imikim commented on #66
Sorry, but I already do not have the code anymore. But I would still love
to use the feature if it would work. The vuetify version would have been
the latest at the time of my writing

On Thu, Feb 21, 2019, 12:43 Madimetja Shika <notifications@github.com>
wrote:

[2019-02-22 08:17] damienmcd commented on #64
Hi Madi,

The keydown event was broken previously but was fixed in v1.1.0-alpha.4 (https://github.com/vuetifyjs/vuetify/releases/tag/v1.1.0-alpha.4).

It would be great to have support for this added.

Thanks,
Damien

[2019-02-22 11:53] MadimetjaShika commented on #64
Thanks Damien, happy to incorporate that into the component. Will include it with the next update.

Regards,
Madi

[2019-02-22 12:24] damienmcd commented on #64
Great. Looking forward to using it. Thanks!

[2019-02-22 17:54] ComeWllt commented on #65
Hi,

I've submitted this pull request [#69](https://github.com/MadimetjaShika/vuetify-google-autocomplete/pull/69)

This is the first PR I submit so don't hesitate to tell me if I forgot something 🙂

Thank you!

[2019-02-27 18:09] miguel-isasmendi commented on #66
I've run into the same issue here.

My package.json reads:
"vue": "^2.5.22",
"vuetify": "^1.3.0",
"vuetify-google-autocomplete": "2.0.0-beta.5",

My actual version for each one of those components:
"vue": 2.6.6,
"vuetify": 1.5.1,
"vuetify-google-autocomplete": 2.0.0-beta.5,

My code in my template:

[code]

My code in my script tag:

[code]

[2019-03-08 17:08] jparish3 opened #70 "failed to compile"
npm i vuetify-google-autocomplete

./node_modules/vuetify-google-autocomplete/lib/helper.js
Module not found: Error: Can't resolve

[2019-03-12 21:17] mfreeman451 commented on #66
Same issue..

[2019-03-14 03:54] gerardfollano commented on #36
Is there anyway to grab the first result in the drop down yet, if nothing is selected upon loss of focus. Also is there an option to validate autofill addresses of a user? I tried disabling the autofill all together but it looks like this is not possible on google chrome...

[2019-03-17 18:24] lumogox commented on #70
Any workarounds for this?

[2019-03-17 19:23] MadimetjaShika commented on #70
Hi, what version of the library are you using?

[2019-03-18 12:56] tsirolnik commented on #66
Same issue, Vuetify 1.5.6

main.js
[code]

Page.vue
[code]

[2019-03-25 23:32] rborges89 commented on #66
i have the same issue

[2019-03-31 08:29] teomankirac commented on #66
SAME! Whats the status on this?

[2019-03-31 21:49] MadimetjaShika commented on #66
Hi,

I'm unable to reproduce the error you guys are having. I've tried this with ``vue@^2.5.2`` ``vuetify@^1.5.6`` and ``vuetify-google-autocomplete@^2.0.0-beta.5``. See below gif with no errors.

![debug-example](https://user-images.githubusercontent.com/6643245/55295575-ed5bc300-540e-11e9-8401-66d4fe9af442.gif)

Please clone [this example repo](https://github.com/MadimetjaShika/vuetify-google-au

[2019-04-01 10:05] teomankirac commented on #66
Thanks will reproduce error today with what i am using. Very likely my combo of things. Appreciate you taking a look. I am using Nuxt.js v2.4.3,  "vuetify": "^1.5.8", "vuetify-google-autocomplete": "^2.0.0-beta.5". in plugins/vuetify-google-autocomplete.js I have:

[code]
in my nuxt-config.js:

[code]

my layouts/default.vue:

[code]

Thanks for your time and will try to reproduce if there is not

[2019-04-02 22:54] cosmoslothnaut commented on #66
The underlying issue for me was I had installed vuetify as a plugin.
I *added*  import Vuetify from 'vuetify' next to  import './plugins/vuetify'
and added the line
Vue.use(Vuetify)
before
Vue.use(VuetifyGoogleAutocomplete, {
  apiKey: '...',
})

Thanks for your work!

[2019-04-07 09:16] teomankirac commented on #66
I solved my issue by adding { VTextField } to my plugins/vuetify.js

I think vuetify-google-autocomplete piggybacks off of v-text-field..

I added this:

[code]

and viola, works. For some reason my vuetify-loader doesn't recognize v-text-field in the context of vuetify-google-autocomplete. Please correct me if I am wrong, very likely i don't know what I am talking about. But may help some others

[2019-04-23 03:43] albernhagen commented on #53
Hello @MadimetjaShika - Is there a way to do this and also force google to validate that the text supplied is an address and fire the no results found if it doesn't?

[2019-04-23 17:57] #65 closed

[2019-04-23 17:58] MadimetjaShika commented on #65
Hi,

Thanks for the PR. Sorry i've taken so long to merge.

[2019-04-23 18:19] albernhagen commented on #53
@MadimetjaShika It looks like you could use the `autocompleteService.getPlacePredictions` to do this, take that result and get the place, and then pass that into the same handler for a place changed.  Just an idea.

[2019-04-23 19:41] MadimetjaShika commented on #70
Hi,

I'm closing this due to inactivity. Please clone [this example repo](https://github.com/MadimetjaShika/vuetify-google-autocomplete-debug), create a branch and attempt to reproduce the error, as i'm unable to reproduce the error you're getting with simple setup. Alternatively please share your code sample.

[2019-04-23 19:41] #70 closed

[2019-04-23 19:46] MadimetjaShika commented on #66
@cosmoslothnaut  and @teomankirac, you're both correct in your solutions. This library does not package the v-text-field component, and instead relies upon the consumer to install the vuetify library or at the very least, the v-text-field component from the vuetify library in his/her project.

Perhaps it might be worthwhile to package just the v-text-field with this library.. But i'm not too sure

[2019-04-23 19:48] MadimetjaShika commented on #59
I'm assuming this is resolved? Closing due to inactivity. Please feel free to re-open if you've still got issues.

[2019-04-23 19:48] #59 closed

[2019-04-24 03:08] albernhagen commented on #53
So I was in a pinch and really needed this and also really wanted to improve the TypeScript support using google's TS type.  I rewrote the widget in TypeScript using the class decorators.  There are some properties I didn't include as I didn't use them.  This is also a WIP implementation with multiple TODOs, but it's at least a shell of how this could be done and an option for writing a TypeScript

[2019-04-24 17:55] pitapaya opened #71 "':append-icon-cb' is deprecated"
Warning message I get when using 'append-icon-cb' prop: [Vuetify] ':append-icon-cb' is deprecated, use '@click:append' instead.

Here's my package.json
`"dependencies": {
  "vuetify": "^1.5.13",
  "vuetify-google-autocomplete": "^2.0.0-beta.6"
}`

I change to use '@click:append', I get a different error:
'DOMException: Failed to execute 'setAttribute' on 'Element': '@click:append' is not a valid a

[2019-04-25 15:50] albernhagen commented on #53
I built a TypeScript version based on your implementation for my own usage.  I thought about building this in as a PR to this library, but I really wanted to have a strongly typed version of this, along with some other small tweaks, so it just made it easier for me.  However, I do want to share my implementation back with you.  It's not perfect and there are a number of TODOs/items to clean up sti

[2019-04-25 15:51] albernhagen commented on #61
A note for anyone else that comes across this, I also built out a TS version for my own usage here: https://github.com/MadimetjaShika/vuetify-google-autocomplete/issues/53

[2019-05-14 11:14] pkundis opened #72 "prepend-inner-icon is not working"
If I try to use "prepend-inner-icon" for <vuetify-google-autocomplete> component.
Icon is not working/visible. I saw your @MadimetjaShika previous fix for "prepend-icon" https://github.com/MadimetjaShika/vuetify-google-autocomplete/issues/20 which works great, but "prepend-inner-icon" is missing in that file.

[2019-05-21 03:41] irriss commented on #29
The problem still exists. Not sure why the issue is closed.

[2019-05-21 14:05] mrKoujou commented on #29
Hi, guys. If you are using vuetify-google-autocomplete with vue2-google-maps and having problem described above, this can help you. I'm using Vue CLI 3 and install this two modules as plugins and all I needed to do is manually load google api using vue2-google-maps (in vue2-google-maps plugin, see below) and remove api-key from vuetify-google-autocomplete plugin. vue2-google-maps should be loaded

[2019-05-23 16:06] AlissonRS opened #73 "Dependencies not found 'babel-runtime/core-js/object/keys'"
I installed and followed the instructions, but when I try to serve the project, I get this:

[code]

How can I solve this? Thanks.

[2019-05-24 02:52] AlissonRS opened #74 "Return city - administrative_area_level_2 field"
Google Places API has this field `administrative_area_level_2` in the response object which usually represents the city of the place. This component is already returning `administrative_area_level_1` which stands for the state/province. It would be really helpful if you returned this field as well.

Reference:

[Google Places API Docs](https://developers.google.com/places/web-service/autocomplete)

[2019-05-30 14:30] alexcroox commented on #73
Also running into this with 2.0.0-beta.6

[2019-06-07 11:31] 0pn commented on #73
Same here. Any feedback on this?

[2019-07-02 11:35] elik56a commented on #59
hi. i have 2 field of <vuetify-google-autocomplete> . the first one is for city and the second is for street.
how do i implement to get the street based on the city that was selected?
thanks!!

[2019-07-09 17:14] butaminas opened #75 "Filled value gets cleared after trying to edit the address"
Using version 2.0.0-beta5 like so:
[code]

It works fine but when I select an address from the dropdown and then try to do any changes (e.g. press backspace), whole address is cleared and you have to start all over again.

Is there any way to make the address stay in the textbox when you try to edit the address?

[2019-07-16 07:02] alsconsulting opened #77 "browser autocomplete"
the browser autocomplete doesn't seem to be able to be changed - on google chrome the correct text to disable browser autocomplete is 'disabled'. I have tried to change it via props, but it keeps reverting to 'off'

suggest the following code to detect the browser and set the default setting to disabled for chrome, and off for everything else.
[code]

[2019-07-23 01:46] alsconsulting commented on #73
I fixed this issue by installing babel-runtime as a dev dependency.

[2019-07-27 05:08] fachrizalrifahdi opened #78 "prepend-icon not working"
`  <v-text-field prepend-icon="search" label="Search" class="hidden-sm-and-down"></v-text-field>`

cannot work on vuetify version 2.0

[2019-07-29 19:57] spencerfrost commented on #78
Try using mdi icons instead. I believe for search, you want `mdi-magnify`

[2019-08-17 20:31] #78 closed

[2019-08-21 09:02] Tsaukpaetra commented on #66
Interesting, I also had to make similar changes that @teomankirac did. I'm using Vuetify 2, and (prior to attempting to use this) V-text-fields worked just fine.  🤷‍♂️

[2019-08-23 08:53] waittinghsu commented on #66
My package.json reads:
"vue": "^2.6.10",
"vuetify": "^2.0.9",
"vuetify-google-autocomplete": "^2.0.0-beta.6",

run into the same issue . QQ

[2019-08-23 08:57] Tsaukpaetra commented on #66
@waittinghsu Did you modify your vuetify loader code? The current package (as it stands) is not out-of-the-box compatible with dynamic build systems at this point.

[2019-08-30 22:02] egeersoz opened #80 "This repo seems to be abandoned"
Last update was all the way back in April (Vuetify 2 came out since then) and the demo page doesn't seem to work.

[2019-09-03 02:52] waittinghsu opened #81 "ed"

[2019-09-03 02:52] #81 closed

[2019-09-04 08:28] waittinghsu commented on #66
i correct it too~ 。口。
my vuetify setting "treeShake: true,"

The version is:
 vuetify-google-autocomplete : "^2.0.0-beta.5"
nuxt: "v2.9.2"
 Vuetify: "2"

[2019-09-04 11:36] PabloGBarcelo commented on #80
Im using and works great. 0 problems except that not have debounce.

[2019-09-18 10:44] waittinghsu opened #84 "this.$refs.address.focus() error"
sorry i have a question about the this.$refs.address.focus() when i use it i got error

focus() {
            this.$nextTick(() => {
                this.$refs.autocomplete.focus();  //error
                document.getElementsByName(this.id)[0].focus();  //ok
                document.getElementById(this.id).focus(); //ok
            });
},

why document.getElementById(this.id).focus()  It works f

[2019-09-26 13:35] AyushiBShah opened #85 "Modify selected Address display format."
Option to show only street name rather than complete address and other details in other inputs

[2019-11-10 23:26] adrielgro commented on #72
I have the same problem, thx

[2019-11-15 21:15] MadimetjaShika commented on #85
Hi, please have a look at  #83, which makes it possible to only display the place name. Is this preferable for you, or do you specifically require to display the street name? Alternatively, I'll only get a chance to look into this during the month of December.

PS - #83 was published in version ``2.0.0-beta.8``.

Side Node - In addition to your request, it possibly might be a good idea to allow th

[2019-11-15 21:26] MadimetjaShika commented on #80
Hi @egeersoz. I'd unfortunately neglected this library and haven't been able to update it as frequently as I would have liked. I am however planning to fully enable support for the latest Vuetify sometime during December, along with other vue-cli 3 based updates.

Is your comment a request for Vuetify 2.* support? And thanks for the demo-page heads up, it's back up now.

PS - While contributions a

[2019-11-15 21:32] MadimetjaShika commented on #77
Hi @alsconsulting. Could you please share the HTML code for how you're setting the browser autocomplete prop?

[2019-11-15 21:36] MadimetjaShika commented on #75
Hi @butaminas. I'm not getting the same behaviour with the [example app](https://madimetjashika.github.io/vuetify-google-autocomplete/). Do you observe this only with the backspace key, or do you observe it with several keys?

PS - I've published version ``2.0.0-beta.8`` today, perhaps try this version and let me know if your issue still persists?

[2019-11-15 21:47] butaminas commented on #75
@MadimetjaShika , I no longer use this for that particular project so can't confirm but if I get a chance to test this, I will let you know.

[2019-11-15 21:53] MadimetjaShika commented on #71
Hi there. This is probably because the ``append-icon-cb`` prop got disabled in a more recent release to the one which ``2.0.0-beta.6`` of this library was dependant on.

I am planning to enable full support for Vuetify 2 during December, once that's done you shoulnd't be seeing this warning any longer.

[2019-11-18 22:55] Sebarkar opened #87 "Props Outline not working."
Props Outline not working.

In Vuetify it's Outlined.

[2019-11-20 19:36] MadimetjaShika commented on #87
Hi, unfortunately, I can't help you if you don't provide sufficient information. Please elaborate on your implementation, e.g. share code of your usage. What version of this library are you using? What version of Vuetify are you using?

[2019-11-20 20:44] Sebarkar commented on #87
Thank you MadimetjaShika for quick response.

<vuetify-google-autocomplete
                    id="map"
                    ref="address"
                    :outline="true"
                    :types="types"
                    append-icon="search"
                    placeholder=""
                    :label="$t('accommodation.enter location')"
                    @placechanged="getFields"

[2019-11-20 21:04] MadimetjaShika commented on #87
Vuetify ``v2.*`` supports a new prop called ``outlined``, which is different to the one supported in previous versions, ``outline`` (notice the **d**), which this library supports.

This library does not yet support all features of the latest Vuetify ``v2.*``. I'm planning on incorporating full support during December 2019, and will thereafter release an official v2 version inline with the officia

[2019-11-20 21:27] Sebarkar commented on #87
Thanks for answer. Looking forward for new version :)

[2019-11-20 21:27] #87 closed

[2019-11-28 12:21] 0306 commented on #36
Any news on this topic? Element v-autocomplete in Vuetify support property auto-select-first. Can you maybe also this implement?

[2019-12-01 08:50] NijasHameed commented on #73
Is there any workaround available for this, I have tried with babel-runtime but still not working.

[2019-12-01 08:51] NijasHameed commented on #73
@AlissonRS Have you find anything?

[2019-12-05 08:02] 0306 commented on #85
Hi, yes it would be really nice to show just street name... :-)

[2019-12-07 01:56] bunchito opened #88 "Dropdown with google results persisting after clearing"
## Issue:
After the user entered a value, for example `los` and when clicking in the clear icon, the input is cleared but the drop-down with google's results persists.

## Steps to reproduce
1. Go to the playground: https://madimetjashika.github.io/vuetify-google-autocomplete/
2. Enable `clearable` prop
3. Type `los` in the `input`
4. Click in the `clear icon` (X)

<img width="967" alt="Screen Sho

[2019-12-12 00:17] juansinmiedos opened #89 "Making mandatory to choose one option from the list"
I think this is a bug: When you write something in the input and don't select any option of the autocomplete list you can send the information in the input (without sending an object with a location information).

Right now I am working in a project where I must send the name of the address, the lat and lng. Since the fields of lat and lng are not written by the user and are automatically filled w

[2019-12-17 15:03] elik56a commented on #73
`npm install --save @babel/runtime ` doesnt solve the problem.
someone can help?

[2019-12-17 22:09] robertonsend commented on #73
try `npm install babel-plugin-transform-runtime`

It seems fix my one, but somehow yarn does not like the solution.

[2019-12-18 06:30] elik56a commented on #73
@robertonsend thanks man!! work perfectly!!

[2019-12-18 11:00] butaminas opened #90 "Ability to add custom options in setupGoogle method"
I would like to add custom options e.g.  ``bounds`` and ``strictBounds``to the autocomplete field.

As far as I can see, you can only set up ``location``, ``fields``and ``type``.
Any way I can add custom options without changing the core?

[2019-12-20 15:52] butaminas opened #91 "The computed property "fields" is already defined as a prop"
Gettings this whenever I init the autocomplete field.

I don't have any computed properties by the name "fields". But if I change "fields" prop to something else, I no longer get this error.

[2019-12-30 04:01] bhavini-chauhan commented on #91
We are getting the same error. Does anyone has the solution to this.?

[2019-12-31 06:56] MadimetjaShika commented on #91
Hi guys, please could you share some sample code which causes the error you're observing? I'm having trouble reproducing this error.

[2019-12-31 07:04] bhavini-chauhan commented on #91
This is only the vue warning.
Whenever the google autocomplete is initialized.
We are getting this error in the console.

"vue": "^2.6.11",
"vue-template-compiler": "^2.6.11",
"vuetify": "^2.1.15",
"vuetify-google-autocomplete": "^2.0.0-beta.6",

![Screenshot from 2019-12-31 12-31-32](https://user-images.githubusercontent.com/57613186/71612953-9bc4ac80-2bc9-11ea-8eba-6afc4d100073.png)

[2019-12-31 11:17] MadimetjaShika commented on #85
@0306 @AyushiBShah, have you tried using the ``placeName`` prop? Does this provide the output you expect, or do you expect to see something else? If you expect something different, please let me know which attribute you'd like to text to map to from the Google Places response.

<img width="1680" alt="Screenshot 2019-12-31 at 13 14 22" src="https://user-images.githubusercontent.com/6643245/71619963

[2019-12-31 12:58] #71 closed

[2019-12-31 12:58] #73 closed

[2019-12-31 13:00] MadimetjaShika commented on #71
Hi, ``append-icon-cb`` has been removed in ``v2.0.0``, along with all other ``v1.*a`` props.

Feel free to re-open if you still experience problems.

[2019-12-31 13:02] MadimetjaShika commented on #72
Hi, support for ``prepend-inner-icon`` has been added in vuetify-google-autocomplete``v2.0.0``, along with all new vuetify ``v2.1.*`` props.

Feel free to re-open this issue if you still experience problems.

[2019-12-31 13:02] #72 closed

[2019-12-31 13:09] MadimetjaShika commented on #73
Hi, this should be resolved in ``v2.0.0`` of this library.

The observed error was due to babel transforming all instances of ``Object.keys`` and ``typeof`` to  babel's ``transform-es2015-object-super`` and ``"transform-es2015-typeof-symbol`` versions respectively. This added ``babel-runtime`` as a dependency to the transpilled source, meaning you'd need to have ``babel-plugin-transform-runtime``

[2019-12-31 13:13] MadimetjaShika commented on #74
Hi @AlissonRS, this should be resolved in ``v2.0.0`` of this library.

Both ``administrative_area_level_1`` and ``administrative_area_level_2`` are available in the result object now.

<img width="1680" alt="Screenshot 2019-12-31 at 15 11 39" src="https://user-images.githubusercontent.com/6643245/71622657-fd901100-2bdf-11ea-8367-0ccf13a7685d.png">

Please feel free to re-open this issue if you sti

[2019-12-31 13:13] #74 closed

[2019-12-31 13:41] MadimetjaShika commented on #91
Hi @Bhavini30 , please update to ``v2.0.0-beta.8`` or ``v2.0.0`` (which i've published today). There potentially could've been a problem with ``v2.0.0-beta.6``.

@butaminas, please confirm if you're also using the same versions as mentioned by @Bhavini30, and confirm if updating to the latest version helps.

[2020-01-01 07:06] bhavini-chauhan commented on #91
Hi @MadimetjaShika ,
I have updated the vuetify-google-autocomplete version to v2.0.0-beta.8 or v2.0.0. But still  I am facing the same error.

[2020-01-01 07:19] MadimetjaShika commented on #91
That's pretty odd. Can you share some sample code or repo that causes the warning? I'm having a hard time reproducing that warning, it's also not present on the [example app](https://madimetjashika.github.io/vuetify-google-autocomplete/) as in the screenshot below - specifically on initialisation.

<img width="1680" alt="Screenshot 2020-01-01 at 09 16 12" src="https://user-images.githubusercontent

[2020-01-01 20:31] davidplappert opened #93 "InvalidValueError: not an instance of HTMLInputElement"
I get the error listed in the title when I generate my site using nuxt (`npm run generate`) and the field does not show up.

However, when I am developing my site, using `npm run dev`, everything works as expected, with no errors.

This is a live link using Nuxt: http://the-coffee-hub-com-dev.s3-website-us-east-1.amazonaws.com/

I am using nuxt for my site.

[code]

[code]

[code]

[code]

![Scree

[2020-01-07 21:13] butaminas commented on #91
@MadimetjaShika

I also use the latest version. As a workaround, I am now using this plugin as a local component and I changed the "fields" prop to `returnFields`. This way I don't get the error anymore.

[2020-01-08 16:38] bryanlampert commented on #91
I've been receiving this error in the console as well.
Just updated to 2.0.0 and the error still persists.

[2020-01-13 13:19] NirAviel opened #94 "output language"

[2020-01-13 13:57] NirAviel commented on #94
If no language is selected then expected to fill the input with results user picked from the options in the language it presented in the options.
currently user is typing in one lang, the options are shown in that lang but after selecting its turn into english.

![Screen Shot 2020-01-13 at 15 17 20](https://user-images.githubusercontent.com/706860/72261319-3fc44400-361d-11ea-87ab-83daca9af4d6.png)

[2020-01-13 15:15] 0306 commented on #85
@MadimetjaShika for me, it would be really nice city, zip and country to have as a result. Now if I set for types: (cities) I can see just zip from small cities which just one zip code has. But i.e. for big city like Bonn I can't search 53111 Bonn. It shows just Bonn, Deutschland without zip.

[2020-01-15 13:47] NirAviel commented on #94
also validations doesn't work...
"required" doesn't show any error (even on the demo...)
looks like this component is not cooked...

and...
if I type a full address without using the google options then I can't get the field value (only with - _**this.$refs.{ref_attr}.$refs.textField.lazyValue**_ - very dirty)

[2020-01-22 02:53] vonec commented on #93
any updates on this

[2020-01-25 10:02] #89 closed

[2020-01-25 10:27] #80 closed

[2020-01-25 12:10] MadimetjaShika commented on #89
@juansinmiedos please reopen this if ``v2.0.1`` does not fix your problem.

[2020-01-25 12:12] MadimetjaShika commented on #91
Hi guys,

It's difficult to assist without some code examples. Please share some code examples on how you're using this library so I can reproduce the problem. Or share a reproduction repo.

[2020-01-25 12:13] MadimetjaShika commented on #77
Closing due to inactivity. Please reopen with sample code.

[2020-01-25 12:13] #77 closed

[2020-01-25 12:15] MadimetjaShika commented on #48
Closing this due to inactivity. Please re-open  if still an issue.

[2020-01-25 12:15] #48 closed

[2020-01-25 12:16] MadimetjaShika commented on #21
@albernhagen thanks for your input!

Closing this due to inactivity and due to https://cloud.google.com/maps-platform/user-guide/pricing-changes. Please re-open if debounce is still required.

[2020-01-25 12:16] #21 closed

[2020-01-29 17:34] vonec commented on #93
still looking for a fix can anyone see whats happening, this is happening on a NUXT app

[2020-01-29 17:43] vonec commented on #93
this fails only in production build, dev works perfect

[2020-01-29 17:45] vonec commented on #93
just checked your live site, did u fix it ? can you share the fix ?

[2020-01-30 02:49] vonec opened #97 "utc_offset is deprecated as of November 2019"
utc_offset is deprecated as of November 2019 and will beturned off in November 2020. Use utc_offset_minutes instead.

this needs to be fixed

[2020-02-02 06:12] vonec opened #98 "Demo Site not working"
https://madimetjashika.github.io/vuetify-google-autocomplete/

[2020-02-06 19:21] mayank30 commented on #91
Hi Guys,
Also facing the same issue, with latest version, we are using vuetify and some other dependency suddenly observe the same error.

![image](https://user-images.githubusercontent.com/6511688/73970822-1ea1fb00-491e-11ea-9479-2a7c2390c261.png)

[code]

[2020-02-07 19:56] AndreiD commented on #93
@vonec anyone found a solution to this ? also using nuxt

[2020-02-07 20:46] vonec commented on #93
import Vue from 'vue'

import  { VTextField } from 'vuetify/lib'
import vuetifyGoogleAutocomplete from 'vuetify-google-autocomplete'

Vue.component('VTextField', VTextField)
Vue.use(vuetifyGoogleAutocomplete, {
  apiKey: 'GOES HERE',
})

this happened because the way nuxt import plugins
 add this
import  { VTextField } from 'vuetify/lib'
to your plugin that fixed it for me

[2020-02-08 22:01] kg-bot opened #99 "Rate limiting API calls"
Right now it will query google API on each letter which is going to reach API limit pretty soon, I was working on this today, testing only and it reached over 3000 requests for ~100-200 searches, I can't even imagine what would this do to our bill in production.

[2020-02-11 10:21] mukeshprajapati-kombee commented on #98
Please fix demo site ASAP.

[2020-02-11 12:48] nigel-dewar commented on #66
I tried both options suggested and it doesnt work.

I think v-text-field should be included. this library too hard to use coz It just dont work.

using vue-cli and latest version of vuetify

cheers

[2020-02-13 23:08] nathany commented on #91
I was seeing this warning in the Chrome console after upgrading to v2.0.1 using the latest Vue 2.6.11 and Vuetify 2.2.12.

However, the `npm install --no-cache` [tip](https://github.com/MadimetjaShika/vuetify-google-autocomplete/issues/91#issuecomment-570029705) worked! Thanks.

[2020-02-14 00:39] nathany commented on #91
Spoke too soon. The warning is back. May have disappeared for some other reason, as I'm still in the midst of updating Vuetify (the warning was there before I started).

[2020-02-14 05:31] nathany opened #100 "Drop-down menu positioning when user scrolls"
Both the address auto-completion dropdown and the country dropdown are floating when the user begins scrolling. I would expect them to stay attached to where they opened instead of having an absolute position that floats.

I was unable to try the demo to verify that this is happening there and not just in my particular inherited code base.

Updating to the latest Vue 2.6.11, Vuetify 2.2.12, and Vu

[2020-02-14 05:31] nathany commented on #100
#36 may be slightly related

[2020-02-19 20:36] nathany commented on #100
This appear to only be an issue when the autocomplete field is inside a `<v-dialog>`.

[2020-02-21 21:41] stavro-gh commented on #33
i had the same problem using the component in an cli3 project.
this.$refs.address.focus() did not work for me but **this.$refs.address.$refs.textField.focus()**; works.

[2020-02-21 23:00] stavro-gh commented on #84
with property ref="autocomplete"
**this.$refs.autocomplete.$refs.textField.focus(**) works for me.
i am in an cli3 project using vuetify as an plugin.
through **import Vuetify, { VTextField } from 'vuetify/lib'** in the vuetify.js file to get the vuetify-google-autocomplete component to work

[2020-03-11 07:57] monajafinerdit commented on #93
Great @vonec you saved my day

[2020-03-12 12:54] dschreij commented on #93
Thanks @vonec. Disabling ssr for the component also works, but then it doesn't render at all with npm generate.

[2020-03-12 12:56] dschreij commented on #99
It would be a nice idea indeed if one has a way to provide a function that handles the API request itself, or add an option to debounce the API requests.

[2020-03-12 13:03] dschreij opened #101 "Second instance of component on a page doesn't work"
Thanks for creating this great component: If I add two vuetify-google-autocomplete fields to the same page or component, only the first one works. The second one doesn't appear to to anything. I this expected behavior?

[2020-03-12 13:04] dschreij opened #102 "Extend icon support"
Currently, this component provides support for the prepend- and append-icon of the underlying v-text-field, but it would be nice to also be able to make user of prepend-inner-icon and append-inner-icon options.

[2020-03-13 11:16] dschreij commented on #102
I now see that the prop has been named `prepend-icon-inner`, so it does exist, but does not match the `prepend-inner-icon` of vuetify.

[2020-03-13 11:21] dschreij opened #103 "Make Maps JavaScript API optional?"
As stated in the documentation, it is required to have the Google Maps API enabled, but this API does only work if you create a billing account, otherwise it starts failing after 4 or 5 requests. As far as I can tell, you only need to have the Google Places API accessible to get the place suggestions and that doesn't seem to be (as) restricted. Is there any way to make usage of the Maps Javascript

[2020-03-23 00:06] wrtisans commented on #97
any update in this ?

[2020-03-25 14:03] matheusferreira commented on #90
Any news about this?

I need to set a bounds restrict for fetching only results of a determined city.

For example:

[code]

[2020-03-29 19:33] wrtisans commented on #103
+1

[2020-03-30 00:00] lukkyjoe commented on #93
@vonec thanks so much. you also saved my day.

may I ask how you found the solution? How did you know to use `{ VTextField }` etc. ?

also, do you (or anyone on this thread) know why `npm run dev` works fine but the issue only shows up in production?

I'm grateful that this solved my problem but I want to understand deeper.

[2020-05-10 12:12] piraveen commented on #66
I get the same error:
- vue: 2.6.11
- vuetify: 2.2.11
- vuetify-google-autocomplete: 2.0.1

None of the solutions given above solves this error.

[code]

[2020-05-12 04:54] kempsteven opened #104 "Getting deprecation error on console"
utc_offset is deprecated as of November 2019 and will beturned off in November 2020. Use utc_offset_minutes instead

![error](https://user-images.githubusercontent.com/51051704/81639880-bfd5ab80-944f-11ea-86fe-142369f7453f.png)

[2020-05-25 04:49] AloneSpace opened #105 "How to disable v-on placechanged"
It look like to update new value when i press enter on autocomplete ( type: establishment)

[2020-05-29 02:23] maximeclaisse commented on #104
Same here, and received today an email from google about this.
Is there any plan to make a upgrade ?
November is still far away, so we should be able to work on it.

[2020-06-03 00:08] cococococococo opened #106 "Demo doens't work"
Hello
The link to the demo doesn't work.
On my side I am usng vuetify but this code doesn't work.

[2020-06-15 05:24] kempsteven commented on #91
Any news to this one?
Version:2.0.1

**here is a code sample**

[code]

[2020-07-02 12:02] Daniyal83 commented on #97
Yes. That deprecation message is annoying. Would you fix that, please?

[2020-07-12 22:10] toddb opened #107 "Access v-text-field slots"
## Is your feature request related to a problem?
I need access to the text field scopes (eg append) in the field so that I can style it like all my other fields in the form.

## Describe the solution you'd like
I would like to be able to access the slots in the textfield (ie append). There are actually seven.

## Describe alternatives you've considered
Sorry, I can't see another way (eg using the

[2020-07-13 09:15] toddb commented on #107
Just been looking at a solution for adding templates as part of a render function. This approach is tied to a particular implementation of `v-text-field` and could dynamically check slots. However, it would then need to kebab case the slots.

Based on https://forum.vuejs.org/t/how-to-pass-named-slots-to-child-component-via-render-function/40842

Here's a patch file

[code]

[2020-07-13 09:28] MadimetjaShika commented on #107
Hi @toddb, thanks for the PR. Will publish a patch version shortly.

[2020-07-13 09:33] toddb commented on #107
Thanks. Looking forward to the patch version! (it will go straight into our product).

I can add page to the examples (personally, I not sure I would but I needed a "test").

It could do with documentation. Let me know about either and will make changes and pull request.

[2020-07-13 09:40] MadimetjaShika commented on #107
New version published to npm registry, `vuetify-google-autocomplete@2.0.2`. Thanks again.

Yes sure a usage example would be great. I think if you could add something to the README that would be great for now. I'd like to update the example app and the dependencies on this project as most of them are now version outdated. So I'll update the example app when I do the clean-up exercise.

[2020-07-13 19:26] toddb commented on #107
The `messages` slot is a scoped slot and is not implemented correctly. As such, it is not included in the documentation.

It should be upgraded (or removed).

[2020-07-13 19:26] #107 closed

[2020-08-07 16:54] flyingboy007 opened #110 "SyntaxError Cannot use import statement outside a module"
Tried everything as per the docs but getting `SyntaxError Cannot use import statement outside a module` error in nuxt

[2020-08-20 17:25] samuel2412 commented on #102
I was about to open a issue.
In fact prepend-icon-inner works but doesn't match vuetify.

[2020-09-16 04:16] mattstryfe commented on #66
Confirmed the following fix worked with...

- vue: 2.6.11
- vuetify: 2.3.10
- vuetify-google-autocomplete: 2.0.0

plugins/vuetify.js
[code]

[2020-09-23 23:02] mhimi1 opened #111 "Types is restricted by default"
Hi,

I saw that several issues were opened around the 'types' restriction. It would be better if the results were unrestricted, however you are passing internally a default 'address' type as a result of which the results are restricted by default. This can be overridden by 'another restriction', however, it seems there is no way to undo the default restriction?

[2020-10-04 19:29] MaeseppTarvo commented on #99
It seems that it is not an issue withe the new pricing Google offers: https://github.com/MadimetjaShika/vuetify-google-autocomplete/issues/21

[2020-10-07 21:20] toddb commented on #60
I am just leaving a trail of my findings of the same problem.

There are a number of issues:

* the immediate issue of setBounds
* avoiding double loading error messages

My plugin code:

[code]
So if you turn off the `apiKey`, it creates the [`SetBounds`](https://github.com/MadimetjaShika/vuetify-google-autocomplete/blob/69ab102ca0b2ebef42ef23c6076e7849e695392c/src/vga/VuetifyGoogleAutocomplete.j

[2020-10-07 23:03] toddb commented on #60
To remove all the errors and not get double loading (and make no code changes). This is not a pleasure.

Remove the plugin registration

[code]
Then in the local component (from my documentation)

[code]

[2020-10-16 21:23] yossivcita commented on #99
The pricing per session vs per call is not really new, its since 2018.
We get charged per api instead of per session (different token per each call), this is costing us thousands of dollars a month...

[2020-10-18 13:03] yossivcita commented on #21
When using this component we are being charged per request, not per session, and we're getting insane charges per charge... Can anybody verify that this is indeed working as suggested?

[2020-10-27 05:11] toddb commented on #60
@MadimetjaShika  any chance of getting that pull request through at some stage?

[2020-10-27 18:41] MadimetjaShika commented on #60
#109 Merged and published as v2.0.4. Please re-open if this is still an issue.

[2020-10-27 18:41] #60 closed

[2020-10-27 20:08] toddb commented on #60
The original error can still occur, sorry :-( (v2.0.4)

There is a race condition if the field has focus too early. The 'autocomplete' field could be behind a promise.

see https://github.com/MadimetjaShika/vuetify-google-autocomplete/blob/dev/src/vga/VuetifyGoogleAutocomplete.js#L925

opened issue #112

[2020-10-27 20:15] toddb opened #112 "Cannot read property 'setBounds' of null when using vueGoogleMapsCompatibility"
Error affects v2.0.4 with `vueGoogleMapsCompatibility`:

[code]

Steps to reproduce:

* initialise via README approach

[code]

* add your component to the page
* load up the vue page and get an early focus on the field (the goal is to active `this.geoLocate()` asap.

The issue is that the lazy load promise of gmaps is not yet complete, so `this.autocomplete` is not yet intialised. Thus the error

[2020-11-04 09:55] vaclav-dvorak commented on #99
This is definitely an issue. Even session pricing have to be implemented in js call. Please have a look for example here for more info:
https://blog.woosmap.com/implement-and-optimize-autocomplete-with-google-places-api

Ideally we would use session token plus debouncing
Debounce time could be passed as prop.

I got charged tens of dollars of credit just by testing this yesterday few times. Strang

[2020-11-04 10:03] vaclav-dvorak commented on #99
I would go with session pricing first as from documentation it seems that with that debouncing is maybe not needed. Enabling sessions seems to be really simple change.

[2020-11-04 10:20] dschreij commented on #99
I made an attempt at implementing a location autocomplete box myself using vuetify's `v-combobox` and this was relatively simple and resulted in a quite small component. See the gist at https://gist.github.com/dschreij/06ac09c3ac9be4be4d25849f08eb3121
It implements session tokens (to my best knowledge) in that multiple requests reuse the same session token, until a places details call is made.

[2020-11-04 10:25] vaclav-dvorak commented on #99
I've also found this lengthy proof that suggest that session billing is actually probably working quite perfectly out of the box with Autocomplete Widget.
https://www.tfzx.net/article/3932373.html

https://github.com/MadimetjaShika/vuetify-google-autocomplete/issues/99#issuecomment-721644742
this looks great thanks for sharing.

[2020-11-12 08:30] ShevchenkoAnna opened #113 "Prop "language" doesn't work"
Hello!

I set language props to 'uk', but it does't work and I get ouput result in Russian and Ukrainian.
v. 2.0.4

[code]

[2020-11-13 11:47] mukeshghodela-easternts opened #114 "Blur Events hangs the browser"
@blur Event hangs the browser, nothing is working after calling blur event.

`<vuetify-google-autocomplete
                        autocomplete="off"
                        ref="autocomplete"
                        id="city"
                        class="form-input"
                        outlined
                        :placeholder="filters.country_id == '' ? $getConst('TXT_COUNTRY_CITY'):$g

[2021-01-11 18:09] snavebaby commented on #67
This error still persists

[2021-02-11 04:28] kumarchandang opened #116 "Does not show only city name"
Does not show the city or area name, it shows the address, street address.
How can we set to show only city name also

[2021-06-04 11:17] YassineChe commented on #116
Did find a solution for this issue ?!

[2021-07-07 08:26] voulgarakis opened #117 "TypeError: this.$refs.address is undefined"
I get this error when using vuetify-google-autocomplete, but the suggestions work fine

[2021-07-14 07:02] nwoodr94 opened #118 "Default label somehow is not overridden by user-defined label or placeholder"
I'm using the component and trying to define my own label, as follows:

`                      <vuetify-google-autocomplete
                        id="map"
                        label="Test"
                        hint="Location"
                        v-on:placechanged="geocode"

                      </vuetify-google-autocomplete>
`

On render, the component displays both "Test" (expected),

[2021-07-14 07:13] nwoodr94 opened #119 "Component returns only streets"
The component forces only specific addresses, such as streets, rather than more general locations.

Expected: Houston, TX
Actual: Houston Avenue, Takoma Park, MD

<img width="521" alt="vueitfy-google-autocomplete" src="https://user-images.githubusercontent.com/46133948/125579092-a8ef9f94-f641-4240-8413-b52c6df17b0c.PNG">

[2021-07-16 05:34] hipsterphysicist commented on #119
This is solved by utilizing the ` vue-google-autocomplete` "types" property, e.g. `types="(cities)"`

[2021-07-16 05:34] #119 closed

[2021-07-16 05:36] hipsterphysicist commented on #116
Hi, it looks like this library builds on top of the vue-google-autocomplete. To fix this issue you can utilize the `types` property, for example `types="(cities)"`.

[Here](https://www.npmjs.com/package/vue-google-autocomplete#correct-usage-of-the-types-parameter) is the original documentation

[2021-08-05 09:55] michaelleb commented on #104
I get the same. but overall seems that the component still working despite this error

[2021-08-06 11:49] mohamadagil456 opened #120 "Locality Not Being Returned By placechanged Event"
Hello! I have noticed that the placechanged event doesn't return a locality (city) in the addressData object. I have tried this with multiple UK addresses. Here is an example with steps to reproduce:
1. Search for "Asda Park Royal Superstore"
2. Clock on the first result
3. Inspect the returned data
4. Expected: locality attribute should be "London". Actual: there is no locality attribute (see scr

[2021-08-06 11:55] mohamadagil456 opened #121 "Placeholder greyed out despite field not being disabled"
Component rendered with minimal options

Expectation: placeholder text is bolder like the above text
Actual: placeholder text is greyed out, similar to when field is disabled

![image](https://user-images.githubusercontent.com/42044253/128506829-dc28f620-68ca-4387-901b-e87c2141a03d.png)

[2021-10-25 02:43] deidyomega commented on #118
I'm sure you figured this out, but for anyone who stumbles upon this:

If you want to use a label, you cant have a placeholder.  BUT you cant remove the placeholder, so you need to make the placeholder transparent

    <style scoped>
    /* where #map is your id, note I am using a hex, with alpha of 00 */
    /deep/ #map::placeholder {
      color: #00000000 !important;
    }
    </style>

[2021-10-25 20:28] zkramer22 commented on #100
Also experiencing this issue. The linked issue is unrelated. Also, this issue occurs no matter the placement of the `<v-autocomplete>` – or `<v-combobox>` or `<v-select>` for that matter.

[2021-10-28 02:21] zkramer22 commented on #100
@nathany
my site's code included this
`body, html {
  overflow-x: hidden;
}`

and removing that CSS property fixed all of my floating menus.

to be clear, i mean that every one of my `<v-autocomplete>`, `<v-select>`, etc – anything that uses a listbox – when clicked, kept the scrollable list attached to the container, rather than appearing like an element with fixed position that follows the user'

[2022-01-10 15:59] mbigby opened #122 "autocomplete field value not updatable...."
Chrome unfortunately no longer supports autocomplete="off".  It is possible to disable autocomplete by setting other values of the autocomplete field, but this control hard-codes autocomplete="off".

Could we have a user settable attribute that is passed on to the interior v-text-field?

[2022-03-19 17:20] davidstackio commented on #116
If you want to return all the types (default maps behavior) just use `types=""`.

[2022-11-23 17:26] jeanpaul1304 commented on #100
Also experiencing this issue. It's related to the v-menu (autocomplete) property, that not is set in the v-menu of this components that implement it